/* Body */
body {
    font-family: "Roboto", sans-serif;
    background-color: #ffff;
    clear: both;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}



/* Header */

header {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    min-height: 60px;
    color: #000000;
    background-color: #E0E0E0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Site title styling */
#title {
    float: left;
    color: inherit;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 500;
    padding-top: 10px;
}

/* Main navigation menu styling */

#navbar {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Main navigation menu list styling */

#navbar li {
    display: inline;
    padding: 15px;

}

/* Main navigation menu links styling */

#navbar a {
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 10px 15px;
}

/* Main navigation menu links interactivity styling */

#navbar a:hover {
    background-color: #FF69B4;
    border-radius: 5px;
    color: white;

}

/* Main navigation menu links styling to show which is active */

.active {
    background-color: #D3D3D3;
    border-radius: 5px;
    padding: 2px;
}

/* Footer */

.footer {
    background-color: #E0E0E0;
    color: #000000;
    text-align: center;
    min-height: 40px;
    padding: 20px 0;
}

/* Footer social icons styling */

.social-icons a {
    color: inherit;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #FF69BF;
    border-radius: 5px;
}


.cover-image {
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover-image img {
    width: 100%;
    height: auto;
    animation: scrollImage 10s linear infinite;
}

@keyframes scrollImage {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

/* Bio container styling */
.bio-part-1,
.bio-part-2 {
    background-color: #F5F5F5;
    color: black;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 6px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
}

/* Teaser images container */
.image-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.image-container img {
    width: 15%;
    border: 5px solid black;
    border-radius: 5px;
    max-width: 30%;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.image-container img::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1);

    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);

}


.image-container img:hover::after {
    opacity: 1;
}

/* Gallery image container */
.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Gallery image style */
.gallery-images img {
    width: calc(20% - 20px);
    margin: 10px;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .gallery-images img {
        width: calc(33.33% - 20px);
    }
        .image-container img {
            width: 30%;
            max-width: 100%;
            margin: 10px;
        }
}

.image-separator {
    border-bottom: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* Custom styles for the Bootstrap contact form */
.bootstrap-form {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
    font-family: "Roboto", sans-serif;
}

/* Button styles */
button {
    font-family: "Roboto", sans-serif;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Button hover effect */
button:hover {
    background-color: #555;
    color: #fff;
}


/* Footer Spacing */
html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}