/* Navbar styles */
.navbar-brand,
.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.navbar-brand.increased-font-size {
    font-size: 40px;

}

/* Navbar and Footer customization */
.navbar,
.navbar-dark .navbar-nav .nav-link {
    background-color: #d3d3d3;
    color: black;
}

.footer {
    background-color: #d3d3d3;
    color: black;
}

/* Navbar hover effect */
.navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: pink;
}

.cover-image {
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover-image img {
    width: 100%;
    height: auto;
    animation: scrollImage 10s linear infinite;
}

@keyframes scrollImage {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

/* Bio container styling */
.bio-part-1,
.bio-part-2 {
    background-color: #F5F5F5;
    color: black;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 6px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
}

/* Teaser images container */
.image-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.image-container img {
    width: 15%;
    border: 5px solid black;
    border-radius: 5px;
    max-width: 30%;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.image-container img::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.image-container img:hover::after {
    opacity: 1;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    color: black;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: pink;
}

.fa-copyright {
    margin-right: 5px;
}

/* Navbar and Footer customization */
.navbar.navbar-expand-lg.navbar-dark .navbar-brand,
.navbar.navbar-expand-lg.navbar-dark .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: black;
}

.navbar.navbar-expand-lg.navbar-dark {
    background-color: #f8f9fa !important;
}

.footer {
    background-color: #f8f9fa !important;
    color: black;
}